name: Deploy to DigitalOcean (root)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.DROPLET_IP }} >> ~/.ssh/known_hosts

      - name: Deploy to Droplet
        run: |
          ssh root@${{ secrets.DROPLET_IP }} << 'EOF'
            cd ~/Food-price-Cambodia-dashboard
            git pull origin main
            curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.3/install.sh | bash
            \. "$HOME/.nvm/nvm.sh"
            nvm install 24
            npm install -g pm2
            npm run build || true
            pm2 restart myapp || pm2 start npm --name myapp -- start
          EOF
